<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title >CARDIAB</title>

  
  
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="../css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <style>
  body {    
    background-image: url("https://image.shutterstock.com/image-photo/world-diabetes-day-awareness-concept-260nw-1837123162.jpg");  
    background-color: lightgray;
    background-size: cover;   
    }
    /* html { 
  background: url("https://cdn.pixabay.com/photo/2018/01/01/01/56/yoga-3053488_960_720.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
  </style>  
</head>


<!-- teal lighten-1 -->
<body>
  <nav class=" teal lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href='/' class="brand-logo">CARDIAB</a>
      <ul class="right hide-on-med-and-down">
        <li><a href='/'>Home</a></li>
        <li><a href='/sugar'>Sugar Check</a></li>
        <li><a href='/cardio'>Cardio Check</a></li>
      </ul>

  </nav>

  <div class="row" style="margin:10% 12.5% 5.5% 60%">
    <h1  style=" font-family: ALEGREYA; font-weight: 700; color: teal accent-1;">CARDIAB</h1>
</div>
<div class="row" style="margin:0% 12.5% 7% 52%">
  <h4 style=" font-family: ALEGREYA; font-weight: 400"> 'With a healthy heart, the Beat goes ON!'</h4>
</div>

<div class="row">
  <div class="row" style="margin:10% 12.5% 5.5% 50%">
    
    <a href='/cardio'><button type="submit" class="btn-large waves-effect waves-light ">Predict CVD Probability</button></a>
    <a href='/sugar'><button type="submit" class="btn-large waves-effect waves-light " style="margin: 0% 0% 0% 15%;">Predict Sugar Probability</button></a>

</div>
<!-- <div class="row" style="margin:10% 12.5% 5.5% 60%">
    
  <a href='/sugar'><button type="submit" class="btn-large waves-effect waves-light ">Predict Sugar Probability</button></a>

</div> -->
</div>
<div class="row" style="margin:15% 10% -7.5% 20%"></div>

<div class="teal lighten-1">
<footer class="page-footer teal lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">CARDIAB</h5>
        
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Group Members</h5>
        <ul>
          <li class="grey-text text-lighten-3">A07 Shefali Jindal</li>
          <li class="grey-text text-lighten-3">A14 Tithi Agrawal</li>
          <li class="grey-text text-lighten-3">A32 Abbas Husain</li>
          <li class="grey-text text-lighten-3">A41 Atharva Nimbalwar</li>
          <li class="grey-text text-lighten-3">A76 Shubham Saboo</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © Group 6 2022
    
    </div>
  </div>
</footer>
</div>


  <!--  Scripts-->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  

  </body>
</html>
